<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="platojs">
    <title><%= htmlWebpackPlugin.options.title %></title>
    {{#mobile}}
    <script src="scripts/lib.flexible.js"></script>
    {{/mobile}}
    {{#offline}}
    <script>
      // if want to use local h5 app,
      // make sure to reset native fetch
      window.fetch = null
    </script>
    {{/offline}}
  </head>
  <body{{#mobile}} ontouchstart=""{{/mobile}}>
    <div id="app"></div>
  </body>
</html>
